<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/nav.ejs')%>
    
    <main>
        <form class="form" action="/admin/<% if(editing) { %>edit-product<% } else { %>product<% } %>" method="post">
            <div class="form__container">
                <label for="tit">Title</label>
                <input type="text" name="title" id="tit" 
                    value="<% if(editing) { %><%=prod.title%><% } %>"
                >
            </div>

            <div class="form__container">
                <label for="img">Image Url</label>
                <input type="text" name="imageUrl" id="img"
                    value="<% if(editing) { %><%=prod.imageUrl%><% } %>"
                >
            </div>

            <div class="form__container">
                <label for="price">Price</label>
                <input type="number" name="price" id="price"
                    step=".01" value="<% if(editing) { %><%=prod.price%><% } %>"
                >
            </div>
            
            <div class="form__container">
                <label for="des">Description</label>
                <textarea name="description" id="des" cols="30" rows="10"><% if(editing) { %><%=prod.description%><% } %></textarea>
            </div>

            <% if(editing) { %>
                <input type="hidden" name="productId" value="<%= prod._id %>">
            <% } %>
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"> <% if(editing) { %>Update Product<% } else { %>Add Product<% } %> </button>
        </form>
    </main>

<%- include('../includes/tail.ejs')%>