<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/cart.css">

</head>

<body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <% if (products.length > 0) { %> 
            <ul class="cart__item">
                <% products.forEach( prod => { %>
                    <li class="cart__item-list">
                        <!-- <h1><%= prod.title %> </h1> -->
                        <h1><%= prod.prodId.title %> </h1>
                        <h2>Quantity: <%= prod.qty%></h2>
                        <form action="/cart-delete" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" value="<%= prod.prodId._id %>" name="prodId">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>   
            <hr>
            <div class="centered">
                <!-- <form action="/create-order" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit">Order Now</button>
                </form> -->
                <a class="btn" href="/checkout">Order & Checkout!</a>
            </div>
        <% } else { %> 
            <h1> No Product in Cart </h1>
        <% } %>
    </main>

<%- include('../includes/tail.ejs')%>