<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/cart.css">

</head>

<body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <ul class="cart__item">
            <% products.forEach( product => { %>
                <li class="cart__item-list">
                    <h1><%= product.prodId.title %> </h1>
                    <h2>Qty: <%= product.qty%></h2>
                </li>
            <% }) %>
        </ul>
        <h2 class="centered"> Total: <%= totalsum %> </h2>
        <div>
            <script src="https://js.stripe.com/v3/"> </script>
            <button id="payment-btn" class="btn"> Proceed to payment</button>
            <script>
                var orderbtn = document.getElementById('payment-btn')
                var stripe = Stripe("pk_test_51MqN5FKLUvbrwYJxXRBmWlD5feDJK0RZbdTSFrTHDXzoCgi8KRtIaJSFepDkDBLvVGhZrUg4hHOcw1QaFNfhFe8X00GvradKlt");
                orderbtn.addEventListener('click', () => {
                    stripe.redirectToCheckout({
                        sessionId: "<%= sessionId %>"
                    })
                })
            </script>
        </div>
        
    </main>

<%- include('../includes/tail.ejs')%>